<h1><%= @cat.name %></h1>

<table border="1" cellpadding="5%">
  <tr>
    <th>Birth Date</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <th><%= @cat.birth_date %></th>
    <th><%= @cat.color %></th>
    <th><%= @cat.sex %></th>
    <th><%= @cat.description %></th>
  </tr>
</table>
