<h1><%= @cat.name %></h1>

<table border="1" cellpadding="5%">
  <tr>
    <th>Birth Date</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <th><%= @cat.birth_date %></th>
    <th><%= @cat.color %></th>
    <th><%= @cat.sex %></th>
    <th><%= @cat.description %></th>
  </tr>
</table>
<br>

<h3>Cat Rental Requests</h3>
<table border="1" cellpadding="5%">
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>

  <% @cat.cat_rental_requests.order('start_date').each do |cat_rental_request| %>
    <tr>
      <th><%= cat_rental_request.start_date %></th>
      <th><%= cat_rental_request.end_date %></th>
    </tr>
  <% end %>


</table>
